<form action="/create" method="POST">
<h2>Create ninja:</h2>

<div class="input-field">
    <input type="text" name="nickname" placeholder="nickname" required>
    <input type="text" name="real_name" placeholder="real_name" required>
    <input type="text" name="origin_description" placeholder="origin_description" required>
    <input type="text" name="superpowers" placeholder="superpowers" required>
    <input type="text" name="catch_phrase" placeholder="catch_phrase" required>
    <input type="text" name="Images" placeholder="Images URL" required>
</div>

<button type="submit" class="btn">CREATE</button>
</form>
